<a href="https://colab.research.google.com/github/infantanto1805/rasa.ai/blob/main/Assignment_Answer_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Python_Intern_Assignment_1**
**Answer sheet**



```
# 1  poem
```

In [ ]:
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are!")
print("\t\tUp above the world so high,")
print("\t\tLike a diamond in the sky.")
print("Twinkle, twinkle, little star,")
print("\tHow I wonder what you are")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are




```
# 2 find out what version of Python you are using
```

In [ ]:
import sys
print("Python version")
print(sys.version)
print("Version info.")
print(sys.version_info)

Python version
3.11.12 (main, Apr  9 2025, 08:55:54) [GCC 11.4.0]
Version info.
sys.version_info(major=3, minor=11, micro=12, releaselevel='final', serial=0)



```
# 3 Python program to display the current date and time
```

In [ ]:
import datetime
now = datetime.datetime.now()
print("Current date and time : ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2025-05-14 05:28:14


```
# 4 Python program that calculates the area of a circle based on the radius entered by the user.
```

In [ ]:
from math import pi
r = float(input("Input the radius of the circle : "))
area = pi * r**2
print("The area of the circle with radius", r, "is:", area)

Input the radius of the circle : 44
The area of the circle with radius 44.0 is: 6082.12337734984


```
# 5 Python program that accepts the user's first and last name and prints them in reverse order
```

In [ ]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
print("Reversed Name:", last_name, first_name)

Enter your first name: Infant
Enter your last name: Anto
Reversed Name: Anto Infant



```
# 6 Python program that accepts a sequence of comma-separated numbers and generates a list and a tuple.

```

In [20]:
values = input("Input some comma separated numbers: ")
list_values = values.split(",")
tuple_values = tuple(list_values)
print('List :', list_values)
print('Tuple :', tuple_values)

Input some comma separated numbers: 3,4,5,6,7,8
List : ['3', '4', '5', '6', '7', '8']
Tuple : ('3', '4', '5', '6', '7', '8')



```
# 7 Python program that accepts a filename and prints the extension of the file.

```

In [ ]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")[-1]
print("The extension of the file is:", f_extns)

Input the Filename: data
The extension of the file is: data



```
# 8 Python program to display the first and last colors from the list.

```

In [ ]:
color_list = ["Red", "Green", "White", "Black"]
print("First color:", color_list[0])
print("Last color:", color_list[-1])

First color: Red
Last color: Black




```
# 9 Python program to display the examination schedule.

```

In [ ]:
exam_st_date = (11, 12, 2014)
print("The examination will start from: %i / %i / %i" % exam_st_date)

The examination will start from: 11 / 12 / 2014



```
# 10 Python program to calculate the value of n+nn+nnn for a given n.

```

In [ ]:
n = int(input("Enter a number: "))
nn = int(str(n) * 2)
nnn = int(str(n) * 3)
print("Result:", n + nn + nnn)

Enter a number: 3
Result: 369



```
# 10 Python program to print documentation of built-in function.
```

In [ ]:
print(abs.__doc__)

Return the absolute value of the argument.



```
# 11 Python program that prints the calendar for a given month and year.
```

In [ ]:
import calendar
year = int(input("Input the year: "))
month = int(input("Input the month: "))
print(calendar.month(year, month))

Input the year: 2003
Input the month: 05
      May 2003
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31



```
# 12 Python program to print a multi-line 'here document'.
Python program that prints the calendar for a given month and year.
```

In [ ]:
print("""
a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a ....... multi-line
heredoc string --------> example



```
# 13 Python program to calculate days between two dates..
```

In [1]:
from datetime import date
f_date = date(2014, 7, 2)
l_date = date(2014, 7, 11)
delta = l_date - f_date
print(f"Days between: {delta.days}")

Days between: 9



```
# 14 Python program to get the volume of a sphere with radius 6.
```

In [2]:
from math import pi
r = 6.0
volume = (4.0/3.0) * pi * r**3
print("Volume of the sphere is:", volume)

Volume of the sphere is: 904.7786842338603



```
# 15 Calculate the difference between a given number and 17. If the number is greater than 17, return twice the absolute difference.

```

In [3]:
def diff_17(n):
    if n > 17:
        return 2 * abs(n - 17)
    else:
        return 17 - n

print(diff_17(22))
print(diff_17(14))

10
3



```
# 16 Test whether a number is within 100 of 1000 or 2000.

```

In [4]:
def near_thousand(n):
    return ((abs(1000 - n) <= 100) or (abs(2000 - n) <= 100))

print(near_thousand(1000))
print(near_thousand(900))
print(near_thousand(800))
print(near_thousand(2200))

True
True
False
False



```
# 17 Calculate the sum of three numbers. If all are equal, return thrice their sum.

```

In [5]:
def sum_thrice(x, y, z):
    if x == y == z:
        return 3 * (x + y + z)
    else:
        return x + y + z

print(sum_thrice(1, 2, 3))
print(sum_thrice(3, 3, 3))

6
27


```
# 18 Get a new string with 'Is' added to the front. If it already begins with 'Is', return unchanged.

```

In [8]:
def new_string(text):
    if len(text) >= 2 and text[:2] == "Is":
        return text
    return "Is" + text

print(new_string("Array"))
print(new_string("IsEmpty"))
print(new_string("Anto"))

IsArray
IsEmpty
IsAnto


```
# 19 Return a string that is n copies of a given string.

```

In [9]:
def larger_string(text, n):
    return text * n

print(larger_string("Python", 2))
print(larger_string("Python", 8))

PythonPython
PythonPythonPythonPythonPythonPythonPythonPython


```
# 20 Determine whether a number is even or odd.


```

In [10]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd



```
# 21 Count the number 4 in a given list.


```

In [12]:
def list_count_4(nums):
    count = 0
    for num in nums:
        if num == 4:
            count += 1
    return count

print(list_count_4([1, 4, 6, 7, 4, 4, 6, 7, 4]))

4


```
# 22 Vowel Tester


```

In [13]:
def is_vowel(char):
    return char.lower() in 'aeiou'

print(is_vowel('a'))
print(is_vowel('i'))

True
True


```
# 23 Value in Group Tester


```

In [15]:
def is_value_in_group(value, group):
    return value in group

print(is_value_in_group(3, [1, 5, 8, 3]))
print(is_value_in_group(4, [1, 5, 8, 3]))

True
False




```
# 24 List Histogram

```

In [16]:
def histogram(items):
    for n in items:
        print('*' * n)

histogram([4, 5, 3, 6])

****
*****
***
******

#  Assignment List and tupul

In [21]:
student_marks = [
    ['Name', 'A', 'B', 'C', 'D', 'E'],
    ['Ankit', 41, 34, 45, 55, 63],
    ['Aravind', 42, 23, 34, 44, 53],
    ['Lakshay', 32, 23, 13, 54, 67],
    ['Gyan', 23, 82, 23, 63, 34],
    ['Pranav', 21, 23, 25, 56, 56]
]

data = student_marks[1:]

In [22]:
marks_b = [student[2] for student in data]
highest_marks_b = max(marks_b)
highest_scorer_b = [student[0] for student in data if student[2] == highest_marks_b][0]
print(f"Highest in B: {highest_scorer_b} with {highest_marks_b} marks.")

Highest in B: Gyan with 82 marks.

In [23]:
marks_c = [student[3] for student in data]
average_marks_c = sum(marks_c) / len(marks_c)
print(f"Average in C: {average_marks_c:.2f}")

Average in C: 28.00

In [24]:
percentages = [(student[0], sum(student[1:]) / 500 * 100) for student in data]
highest_percentage_scorer, highest_percentage = max(percentages, key=lambda item: item[1])
print(f"Highest Percentage: {highest_percentage_scorer} with {highest_percentage:.2f}%")

Highest Percentage: Ankit with 47.60%

In [25]:
top4_percentages = []
for student in data:
    name = student[0]
    marks = sorted(student[1:], reverse=True)
    top4_total = sum(marks[:4])
    percentage_top4 = (top4_total / 400) * 100
    top4_percentages.append((name, percentage_top4))
    highest_scorer_top4, highest_percentage_top4 = max(top4_percentages, key=lambda item: item[1])
print(f"Highest Top-4 Percentage: {highest_scorer_top4} with {highest_percentage_top4:.2f}%")

Highest Top-4 Percentage: Ankit with 51.00%

#Pattern Printing Assignments in Python

In [26]:
# Pattern: Right-Angled Half Pyramid
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print("* " * i)

Enter number of rows: 5
*
* *
* * *
* * * *
* * * * *

In [27]:
#Pattern: Inverted Half Pyramid
rows = int(input("Enter number of rows: "))
for i in range(rows, 0, -1):
    print("* " * i)

Enter number of rows: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
#Pattern: Right-Aligned Half Pyramid
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print("  " * (rows - i) + "* " * i)

Enter number of rows: 7
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
* * * * * * *

In [29]:
# Pattern: Full Pyramid
rows = int(input("Enter number of rows: "))
for i in range(rows):
    print("  " * (rows - i - 1) + "* " * (2 * i + 1))

Enter number of rows: 7
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

In [30]:
# Pattern: Hollow Pyramid
rows = int(input("Enter number of rows: "))
for i in range(rows):
    for j in range(rows - i - 1):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        if k == 0 or k == 2 * i or i == rows - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

Enter number of rows: 7
            *
          *   *
        *       *
      *           *
    *               *
  *                   *
* * * * * * * * * * * * *

In [32]:
# Pattern: Diamond Shape
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "* " * i)

Enter number of rows: 4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [33]:
#  Pattern: Number Half Pyramid
rows = int(input("Enter number of rows: "))
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

Enter number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

#Python_Intern_Assignment_2



```
# Level 1: Python Basics
```

In [35]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2 if num2 != 0 else "Cannot divide by zero")

Enter first number: 24
Enter second number: 12
Addition: 36.0
Subtraction: 12.0
Multiplication: 288.0
Division: 2.0

In [36]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 69
Odd


```
# Voting Eligibility
```

In [37]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age: 22
Eligible to vote



```
# Swap Variables
```

In [38]:
a = 5
b = 10
temp = a
a = b
b = temp
print("After swap using third variable:", a, b)
a, b = b, a
print("After swap without third variable:", a, b)

After swap using third variable: 10 5
After swap without third variable: 5 10



```
# Level 2: Loops and Functions
Multiplication Table


```

In [41]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 69
69 x 1 = 69
69 x 2 = 138
69 x 3 = 207
69 x 4 = 276
69 x 5 = 345
69 x 6 = 414
69 x 7 = 483
69 x 8 = 552
69 x 9 = 621
69 x 10 = 690



```
# Prime Number Checker
```

In [42]:
num = int(input("Enter a number: "))
is_prime = True
if num <= 1:
    is_prime = False
else:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
print("Prime" if is_prime else "Not Prime")

Enter a number: 69
Not Prime



```
# Factorial Calculation
```

In [44]:
num = int(input("Enter a number: "))
factorial = 1

for i in range(1, num + 1):
    factorial *= i
print("Factorial:", factorial)

Enter a number: 7
Factorial: 5040



```
# Fibonacci Series
```

In [45]:
n = int(input("Enter number of terms: "))
a, b = 0, 1
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter number of terms: 7
0 1 1 2 3 5 8



```
# Level 3: Data Structures and Strings
Palindrome Checker
```

In [50]:
text = input("Enter a string: ").lower()
if text == text[::-1]:
    print("Palindrome")
else:
    print("Not a palindrome")

Enter a string: Noon
Palindrome



```
# Word Frequency Counter
```

In [53]:
sentence = input("Enter a sentence: ").lower()
words = sentence.split()
word_count = {}
for word in words:
    word_count[word] = word_count.get(word, 0) + 1
print(word_count)

Enter a sentence: my name is infant and some call me anto
{'my': 1, 'name': 1, 'is': 1, 'infant': 1, 'and': 1, 'some': 1, 'call': 1, 'me': 1, 'anto': 1}



```
# Level 4: File Handling & Exceptions
Text File Read/Write
```

In [55]:
filename = "sample.txt"
text = input("Enter some text to write to the file: ")
with open(filename, "w") as f:
    f.write(text)
with open(filename, "r") as f:
    content = f.read()
    print("File content:", content)

Enter some text to write to the file: data
File content: data



```
# Exception Handling
```

In [56]:
try:
    a = float(input("Enter numerator: "))
    b = float(input("Enter denominator: "))
    result = a / b
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Invalid input. Please enter numbers.")

Enter numerator: 0
Enter denominator: 9
Result: 0.0



```
# Level 5: OOP and API
Bank Account Class
```

In [57]:
# Guided Code
class BankAccount:
    def __init__(self, owner, balance=0):
        self.owner = owner
        self.balance = balance

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if amount <= self.balance:
            self.balance -= amount
        else:
            print("Insufficient balance")

    def show_balance(self):
        print(f"Account balance: ₹{self.balance}")

# Sample usage
acc = BankAccount("Alice", 1000)
acc.deposit(500)
acc.withdraw(200)
acc.show_balance()

Account balance: ₹1300



```
Python Interview Preparation – Top Assignments with Guidance
#  Anagram Checker
```

In [65]:
#  Anagram Checker
def is_anagram(str1, str2):
    return sorted(str1.replace(" ", "").lower()) == sorted(str2.replace(" ", "").lower())
print(is_anagram("Listen", "Silent"))

print(is_anagram("Listen", "Silent"))

True
True

In [66]:
# 🔍 Find Duplicates
def find_duplicates(lst):
    seen = set()
    duplicates = set()
    for num in lst:
        if num in seen:
            duplicates.add(num)
        else:
            seen.add(num)
    return list(duplicates)
print(find_duplicates([1, 2, 3, 2, 4, 5, 1]))

[1, 2]

In [67]:
#First Non-Repeating Character
from collections import Counter
def first_non_repeating_char(s):
    freq = Counter(s)
    for ch in s:
        if freq[ch] == 1:
            return ch
    return None
print(first_non_repeating_char("giemtabkutumtum"))

g

In [69]:
#Fibonacci with Memoization
def fib(n, memo={}):
    if n in memo:
        return memo[n]
    if n <= 1:
        return n
    memo[n] = fib(n - 1, memo) + fib(n - 2, memo)
    return memo[n]
print(fib(69))

117669030460994

In [71]:
#Two Sum Problem
def two_sum(nums, target):
    seen = {}
    for num in nums:
        diff = target - num
        if diff in seen:
            return (diff, num)
        seen[num] = True
print(two_sum([2, 7, 11, 15], 18))

(7, 11)

In [73]:
##  Roman to Integer
def roman_to_int(s):
    roman = {'I': 1, 'V': 5, 'X': 10, 'L': 50,
             'C': 100, 'D': 500, 'M': 1000}
    total = 0
    prev_value = 0
    for char in reversed(s):
        if roman[char] < prev_value:
            total -= roman[char]
        else:
            total += roman[char]
        prev_value = roman[char]
    return total
print(roman_to_int("XVI"))

16

In [74]:
#Reverse List (Simulated Linked List)
def reverse_list(lst):
    return lst[::-1]
print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]

In [75]:
# Balanced Parentheses
def is_balanced(expr):
    stack = []
    for char in expr:
        if char == '(':
            stack.append(char)
        elif char == ')':
            if not stack:
                return False
            stack.pop()
    return not stack
print(is_balanced("(())()"))
print(is_balanced("(()"))

True
False

In [76]:
#Character Frequency Sorter
from collections import Counter
def frequency_sort(s):
    freq = Counter(s)
    return ''.join(sorted(s, key=lambda x: (-freq[x], x)))
print(frequency_sort("tree"))

eert

In [77]:
# Email Normalizer
def normalize_emails(emails):
    normalized = set()
    for email in emails:
        normalized.add(email.strip().lower())
    return list(normalized)

emails = ["User@Gmail.com ", "user@gmail.COM", "admin@yahoo.com"]
print(normalize_emails(emails))

['admin@yahoo.com', 'user@gmail.com']

## Internship Assignment: Python File System - Reading Files
## Part 1: Basic File Reading

In [78]:
with open("sample.txt", "r") as file:
    content = file.read()
    print(content)

data

In [79]:
with open("sample.txt", "r") as file:
    line = file.readline()
    while line:
        print(line.strip())
        line = file.readline()

data

In [80]:
with open("sample.txt", "r") as file:
    lines = file.readlines()
    print("Total lines:", len(lines))
    print(lines)

Total lines: 1
['data']

In [81]:
with open("sample.txt", "r") as file:
    for index, line in enumerate(file, 1):
        print(f"Line {index}: {line.strip()}")

Line 1: data

In [82]:
from pathlib import Path

file_path = Path("sample.txt")
if file_path.exists():
    print("File exists. Size:", file_path.stat().st_size, "bytes")
else:
    print("File does not exist.")

File exists. Size: 4 bytes

##Internship Assignment: Object-Oriented Programming (OOP) in Python

In [87]:
#Example 1: Basic class definition
class Student:
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll

    def display(self):
        print(f"Name: {self.name}, Roll: {self.roll}")

# Create object
s1 = Student("Infant Anto", 3)
s1.display()

Name: Infant Anto, Roll: 3

In [88]:
#Example 2: Using private members
class Account:
    def __init__(self, owner, balance):
        self.owner = owner
        self.__balance = balance

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance

acc = Account("Ravi", 1000)
acc.deposit(500)
print(acc.get_balance())

1500

In [89]:
#Example 3: Inheriting from a parent class
class Animal:
    def speak(self):
        print("Animal sound")

class Dog(Animal):
    def speak(self):
        print("Bark")

d = Dog()
d.speak()

Bark

In [90]:
#Example 4: Method overriding
class Shape:
    def area(self):
        pass

class Circle(Shape):
    def area(self):
        print("Area of Circle")

class Square(Shape):
    def area(self):
        print("Area of Square")

for shape in (Circle(), Square()):
    shape.area()

Area of Circle
Area of Square

In [91]:
#Example 5: __init__ and __del__ methods

class Demo:
    def __init__(self):
        print("Object created")

    def __del__(self):
        print("Object deleted")

obj = Demo()
del obj

Object created
Object deleted